// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-Opensans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: ;
  /* "wdth" 100; */
}
body {
  background-color: black;
}
main {
  display: flex;
  /* background-color: blue; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
  color: black;
  font-family: "Open Sans", sans-serif;
  margin: 7em 5em;
  /* width: 40%; */
  flex-direction: column;
  /* position: relative; */
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 40%;
  position: relative;
}
h1 {
  font-size: 2rem;
  /* color: black; */
  padding: 0.7em 0;
  border-radius: 5px;
  width: 85%;
  text-align: center;
  box-sizing: border-box;
  background-color: #ff0095;
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  z-index: 3;
  font-weight: 800;
}
p {
  font-size: 1.15rem;
  position: absolute;
  /* width: 90%; */
  background-color: white;
  border-radius: 5px;
  top: 2em;
  z-index: 1;
  padding-inline: 7.5%;
  padding-block: 6rem 3rem;
}
